<div class="container">
  <h2 class="text-center">Lista de Cursos</h2>
  <div class="row">
    <div class="col-md-4" *ngFor="let curso of cursos">
      <div class="card mb-3">
        <img
          *ngIf="curso.imagen"
          [src]="curso.imagen"
          alt="Imagen del curso"
          class="img-fluid"
        />

        <div class="card-body">
          <h5 class="card-title">{{ curso.nombre }}</h5>
          <div *ngFor="let centro of centros">
            <p *ngIf="centro.id === curso.idCentro">
              <strong>Centro:</strong> {{ centro.nombre }}
            </p>
          </div>

          <!-- Verifica si el usuario ya está inscrito en el curso -->
          <form method="GET" action="/inscripcion">
            <input type="hidden" value="{{ curso.id }}" name="idCurso" />

            <!-- Si ya está inscrito, muestra el botón "YA INSCRITO" y lo desactiva -->
            <button
              *ngIf="!verificarInscripcion(curso.id)"
              class="btn btn-primary"
              type="submit"
            >
              Inscribirse
            </button>
            <button
              *ngIf="verificarInscripcion(curso.id)"
              class="btn btn-secondary"
              type="submit"
            >
              YA INSCRITO
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
