<div class="container">
  <h2 class="text-center">Lista de Cursos</h2>

  <!-- Radio Buttons para Filtrar -->
  <div class="d-flex justify-content-center my-3">
    <label class="mx-2">
      <input
        type="radio"
        name="filtro"
        value="todos"
        [(ngModel)]="filtroSeleccionado"
      />
      Todos los cursos
    </label>
    <label class="mx-2">
      <input
        type="radio"
        name="filtro"
        value="misCursos"
        [(ngModel)]="filtroSeleccionado"
      />
      Mis cursos
    </label>
    <label class="mx-2">
      <input
        type="radio"
        name="filtro"
        value="otros"
        [(ngModel)]="filtroSeleccionado"
      />
      Otros cursos
    </label>
  </div>

  <div class="row">
    <div class="col-md-4" *ngFor="let curso of filtrarCursos()">
      <div class="card mb-3">
        <img
          *ngIf="curso.imagen"
          [src]="curso.imagen"
          alt="Imagen del curso"
          class="img-fluid"
        />

        <div class="card-body">
          <h5 class="card-title">{{ curso.nombre }}</h5>
          <div *ngFor="let centro of centros">
            <p *ngIf="centro.id === curso.idCentro">
              <strong>Centro:</strong> {{ centro.nombre }}
            </p>
          </div>

          <form method="GET" action="/inscripcion" ngNoForm>
            <input type="hidden" name="idCurso" [value]="curso.id" />

            <button
              *ngIf="!verificarInscripcion(curso.id)"
              class="btn bg-academia"
              type="submit"
            >
              Inscribirse
            </button>

            <button
              *ngIf="verificarInscripcion(curso.id)"
              class="btn btn-secondary"
              type="submit"
            >
              YA INSCRITO
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
