<div class="container mt-5">
  <h2>Registro de Usuario</h2>
  <form [formGroup]="registroForm" (ngSubmit)="onSubmit()">
    <!-- Nombre -->
    <div class="mb-3">
      <label for="nombre" class="form-label">Nombre *</label>
      <input
        type="text"
        id="nombre"
        class="form-control"
        [ngClass]="{
          'is-invalid':
            registroForm.get('nombre')?.invalid &&
            registroForm.get('nombre')?.touched
        }"
        formControlName="nombre"
      />
    </div>
    <div
      *ngIf="
        registroForm.get('nombre')?.hasError('required') &&
        registroForm.get('nombre')?.touched
      "
      class="text-danger"
    >
      El nombre es obligatorio.
    </div>

    <!-- Apellidos -->
    <div class="mb-3">
      <label for="apellidos" class="form-label">Apellidos</label>
      <input
        type="text"
        id="apellidos"
        class="form-control"
        formControlName="apellidos"
      />
    </div>

    <!-- Correo Electrónico -->

    <div class="mb-3">
      <label for="email" class="form-label">Correo Electrónico *</label>
      <input
        type="email"
        id="email"
        class="form-control"
        [ngClass]="{
          'is-invalid':
            registroForm.get('email')?.invalid &&
            registroForm.get('email')?.touched
        }"
        formControlName="email"
      />
      <div
        *ngIf="
          registroForm.get('email')?.hasError('required') &&
          registroForm.get('email')?.touched
        "
        class="text-danger"
      >
        El correo es obligatorio.
      </div>
      <div
        *ngIf="
          registroForm.get('email')?.hasError('email') &&
          registroForm.get('email')?.touched
        "
        class="text-danger"
      >
        El formato del correo no es válido.
      </div>
      <div
        *ngIf="registroForm.get('email')?.hasError('emailOcupado')"
        class="text-danger"
      >
        Este correo ya está en uso.
      </div>
    </div>

    <!-- Contraseña -->
    <div class="mb-3">
      <label for="password" class="form-label">Contraseña *</label>
      <input
        type="password"
        id="password"
        class="form-control"
        [ngClass]="{
          'is-invalid':
            registroForm.get('password')?.invalid &&
            registroForm.get('password')?.touched
        }"
        formControlName="password"
      />
      <div
        *ngIf="
          registroForm.get('password')?.hasError('required') &&
          registroForm.get('password')?.touched
        "
        class="text-danger"
      >
        La contraseña es obligatoria.
      </div>
      <div
        *ngIf="
          registroForm.get('password')?.hasError('minlength') &&
          registroForm.get('password')?.touched
        "
        class="text-danger"
      >
        La contraseña debe tener al menos 4 caracteres.
      </div>
    </div>

    <!-- Confirmar Contraseña -->
    <div class="mb-3">
      <label for="confirmarPassword" class="form-label"
        >Confirmar Contraseña *</label
      >
      <input
        type="password"
        id="confirmarPassword"
        class="form-control"
        [ngClass]="{
          'is-invalid':
            registroForm.hasError('noCoincide') &&
            registroForm.get('confirmarPassword')?.touched &&
            registroForm.get('confirmarPassword')?.hasError('required')
        }"
        formControlName="confirmarPassword"
      />
      <div
        *ngIf="
          registroForm.hasError('noCoincide') &&
          registroForm.get('confirmarPassword')?.touched
        "
        class="text-danger"
      >
        Las contraseñas no coinciden.
      </div>
      <div
        *ngIf="
          registroForm.get('password')?.hasError('required') &&
          registroForm.get('password')?.touched
        "
        class="text-danger"
      >
        La confirmacion de contraseña es obligatoria.
      </div>
    </div>

    <!-- Sexo -->
    <div class="mb-3">
      <label class="form-label">Sexo</label>
      <div>
        <label>
          <input type="radio" formControlName="sexo" value="Masculino" />
          Masculino
        </label>
        <label>
          <input type="radio" formControlName="sexo" value="Femenino" />
          Femenino
        </label>
      </div>
    </div>

    <!-- País -->
    <div class="mb-3">
      <label for="pais" class="form-label">País</label>
      <select id="pais" class="form-select" formControlName="pais">
        <option *ngFor="let pais of paises" [value]="pais">
          {{ pais }}
        </option>
      </select>
    </div>

    <!-- Aficiones -->
    <div class="mb-3">
      <label class="form-label">Aficiones</label>
      <div *ngFor="let aficion of aficiones">
        <input
          type="checkbox"
          [value]="aficion"
          [checked]="registroForm.value.aficiones?.includes(aficion) || false"
          (change)="onAficionChange($event, aficion)"
        />
        <label>{{ aficion }}</label>
      </div>
    </div>

    <input
      type="hidden"
      id="admin"
      formControlName="admin"
      [value]="0"
      formControlName="admin"
    />

    <button
      type="submit"
      class="btn bg-academia"
      [disabled]="!registroForm.valid"
    >
      Registrar
    </button>
  </form>
</div>
