<!-- src/app/components/registro/registro.component.html -->
<h2>Formulario de Registro</h2>
<form>
  <mat-form-field appearance="outline">
    <label>Nombre</label>
    <input matInput placeholder="Tu nombre" required />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <label>Correo</label>
    <input matInput type="email" placeholder="Tu correo" required />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <label>Contraseña</label>
    <input matInput type="password" placeholder="Contraseña" required />
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Registrar</button>
</form>
