<div class="registro-container">
  <form (ngSubmit)="onSubmit()" [formGroup]="registroForm">
    <mat-form-field appearance="fill">
      <mat-label>Nombre de usuario</mat-label>
      <input matInput formControlName="nombre" required />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" required />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Contraseña</mat-label>
      <input matInput type="password" formControlName="password" required />
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Registrar</button>
  </form>
</div>
