<div class="container mt-5">
  <h2>Editar Centro</h2>
  <form [formGroup]="centroForm" (ngSubmit)="onSubmit()">
    <!-- Nombre -->
    <div class="mb-3">
      <label for="nombre" class="form-label">Nombre *</label>
      <input
        type="text"
        id="nombre"
        class="form-control"
        [ngClass]="{
          'is-invalid':
            centroForm.get('nombre')?.invalid &&
            centroForm.get('nombre')?.touched
        }"
        formControlName="nombre"
      />
    </div>
    <div
      *ngIf="
        centroForm.get('nombre')?.hasError('required') &&
        centroForm.get('nombre')?.touched
      "
      class="text-danger"
    >
      El nombre es obligatorio.
    </div>

    <!-- Descripción -->
    <div class="mb-3">
      <label for="direccion" class="form-label">Direccion</label>
      <input
        type="text"
        id="direccion"
        class="form-control"
        formControlName="direccion"
      />
    </div>

    <!-- Imagen -->
    <div class="mb-3">
      <label for="imagen" class="form-label">Imagen</label>
      <input
        type="file"
        id="imagen"
        class="form-control"
        (change)="onFileSelected($event)"
      />
    </div>

    <!-- Mostrar vista previa de la imagen -->
    <div *ngIf="imagenPreview" class="mb-3">
      <label class="form-label">Vista Previa</label>
      <div>
        <img
          [src]="imagenPreview"
          alt="Vista previa de la imagen"
          class="img-thumbnail"
          style="max-width: 200px; max-height: 200px"
        />
      </div>
    </div>

    <!-- ID Centro -->
    <div class="mb-3">
      <label for="sitio_web" class="form-label">Sitio Web</label>
      <input
        type="text"
        id="sitio_web"
        class="form-control"
        formControlName="sitio_web"
      />
    </div>

    <div *ngIf="insertar()">
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="!centroForm.valid"
      >
        Insertar
      </button>
    </div>
    <div *ngIf="!insertar()">
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="!centroForm.valid"
      >
        Actualizar
      </button>
    </div>
  </form>
</div>
