.login-container {
  color: rgb(255, 255, 255);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Centra verticalmente */
  background-color: beige;
}


#btSubmit{
  background-color: beige;
  color: black;
}

.login-card {
  width: 400px;
  padding: 20px;
  background-color: rgb(93, 71, 47);
}

.full-width {
  width: 100%;
}

.boton-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
