.registro-container {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(104, 104, 85);
}

#btSubmit{
  background-color: beige;
  color: black;
}

.registro-card {
  width: 500px;
  padding: 20px;
  background-color: rgb(70, 58, 44);
}

.full-width {
  width: 100%;
}

.boton-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
