<div class="container mt-4">
  <div class="row justify-content-center align-items-center">
    <!-- Columna del curso -->
    <div class="col-md-5">
      <h1 class="text-center">Información del Curso</h1>
      <div *ngIf="curso" class="card shadow-lg">
        <img
          [src]="curso.imagen"
          class="card-img-top"
          alt="Imagen del curso"
          *ngIf="curso.imagen"
        />
        <div class="card-body">
          <h5 class="card-title">{{ curso.nombre }}</h5>
          <p class="card-text">{{ curso.descripcion }}</p>
        </div>
      </div>
    </div>

    <!-- Botón centrado -->
    <div class="col-md-2 d-flex justify-content-center">
      <form>
        <button
          *ngIf="!verificarInscripcion()"
          type="button"
          class="btn bg-academia"
          (click)="inscribirse($event)"
        >
          Inscribirse
        </button>
        <button
          *ngIf="verificarInscripcion()"
          class="btn btn-danger"
          type="button"
          (click)="cancelarInscripcion()"
        >
          Cancelar Inscripcion
        </button>
      </form>
    </div>

    <!-- Columna del centro -->
    <div class="col-md-5">
      <h1 class="text-center">Información del Centro</h1>
      <div *ngIf="centro" class="card shadow-lg">
        <img
          [src]="centro.imagen"
          class="card-img-top"
          alt="Imagen del centro"
          *ngIf="centro.imagen"
        />
        <div class="card-body">
          <h5 class="card-title">{{ centro.nombre }}</h5>
          <p class="card-text">Dirección: {{ centro.direccion }}</p>
          <p class="card-text">
            Sitio Web:
            <a [href]="centro.sitio_web" target="_blank">{{
              centro.sitio_web
            }}</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
